      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              Filters
            </div>
            <div class="panel-body">
              <form action="<%= items_path %>" metho="get">
                <label>Page</label>
                <select name="page_id" class="select2">
                  <option value="">All</option>
                  <% Page.all.order(:name).each do |page| %>
                    <option value="<%= page.id %>"><%= page.name %></option>
                  <% end %>
                </select>
                
                <p></p>
                <label>Category</label>
                <select name="category_id" class="select2">
                  <option value="">All</option>
                  <% Category.all.order(:name).each do |cat| %>
                    <option value="<%= cat.id %>"><%= cat.name %></option>
                  <% end %>
                </select>
                
                <p></p>
                
                
              </form> 
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <p id="notice"><%= notice %></p>
    
          <h1>Listing Items</h1>
          
          <table class="table datatable-items">
            <thead>
              <tr>                
                <th>Name</th>
                <th>Page</th>
                <th>Category</th>
                <th class="text-center">Picture</th>
                <th>Link</th>
                
                <th>Actions</th>
              </tr>
            </thead>
          
            <tbody>
              
            </tbody>
          </table>
          
          <br>
          
          <%= link_to 'New Item', new_item_path, :class => "btn btn-primary" %>
        </div>
      </div>
    
